<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.OrderMapper">

    <resultMap id="OrderMap" type="Order">
        <id property="order_id" column="order_id"/>
        <result property="create_time" column="create_time"/>
        <result property="total_amount" column="total_amount"/>

<!--      一对多查询映射设置    实体类里面的       user的类型   -->
        <collection property="users" javaType="User">
            <id property="user_id" column="user_id"/>
            <result property="username" column="username"/>
        </collection>
    </resultMap>


    <select id="OrderById" resultMap="OrderMap">
        SELECT u.username,o.total_amount,o.create_time FROM `order` o
        LEFT JOIN `user` u ON o.user_id = u.user_id
        <where>
            <if test="user_id != null and user_id != ''">
                and u.user_id = #{user_id}
            </if>
        </where>
    </select>
</mapper>